.form-sarch{
    height: 30px;
    display: flex;
}

.input-search {
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    border: none; 
    outline: none;
    padding-left: 10px;
}

.input::placeholder {
    color: #999999;
    font-size: 14px;
  }

.search-icon {
    border: none;
    border-radius: 2px;
    background-position: center;
    background-image: url('/public/assets/ic_Search@2x.png.png');
    background-size: 12px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}